<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>{{ site.title }} {% if article %} {{ article.title }}
{% else %} {{ site.subtitle }} {% endif %}</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<meta name="copyright" content="copyright ©2009 Elina Kamaeva" />
	<meta name="author" content="Elina Kamaeva" />
        {{ 'master' | stylesheet: "screen,projection" }}
        {{ 'print' | stylesheet: "print" }}
	{{ site.home_section | articles_feed }}
</head>
<body>
	<div id="all">
		<div id="main">
			<div id="header">
				<div id="logo">
					<h1><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
				</div>
				<p class="tr">Телефон коммерческого отдела</p>
			</div>
			<div id="content">
                        {{ content_for_layout }}
                        <h2>Поиск</h2>
                        <form method="get" id="sform" action="/search">
                          <label for="q">Поиск:</label>
                          <input type="text" id="q" value="" name="q" size="15" />
			</form>
			</div>
			<div id="right-column">
                                {% if site.page_sections %}
				<div class="nav">
					<ul class="menu">
                                                {% for page in site.page_sections %}
                                                <li{% if forloop.first %} class="first"{% endif %}>{{ page | link_to_section  }}</li>
                                                {% endfor %}
					</ul>
				</div>
                                {% endif %}
				<div class="hi">Приветствие Юдина</div>
			</div>

		</div>
		<div id="empty">&nbsp;</div>
		<div id="footer"><s class="tl"></s><s class="tr"></s>
			<p><a href="http://www.eastudio.ru/" target="_blank" class="fright">Разработка сайта&nbsp;<img src="/i/img/eastudio.gif" width="70" height="14" border="0" alt="EASTUDIO" /></a>© 6 Центральный военный клинический госпиталь Министерства Обороны РФ, 2009</p>
			<p>E-mail: <a href="mailto:info@hospital6.ru">info@hospital6.ru</a></p>
		</div>
	</div>
</body>
</html>